.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 16px;
    margin: 100px auto 0;
    padding: 30px 40px;
    box-shadow: 0 8px 32px 0 rgba(52, 234, 7, 0.37);
    backdrop-filter: blur(8.5px);
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    width: 85%;
    height: 50px;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 10 25px;
    font-size: 17px;
    font-weight: 500;
    flex: 1;
    background-color: #ebfffc;
}
.search button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #ebfffc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.search button img{
    width: 20px;
   
   margin: auto
}
.weather-icon{
    width: 200px;
    margin: 30px auto 10px;
}
.weather h1{
    font-size:80px;
    font-weight: 600;
}
.weather h1{
    font-size:60px;
    font-weight: 500;
    margin-top:-10px;
}
.details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    padding: 0 20px;
}
.col{
    display:flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity{
    font-size: 28px;
    margin-top:-6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}